/* === START CSS RESET === https://andy-bell.co.uk/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
p {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* === END CSS RESET === */

/* COMPOSITION */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.store {
  height: 100%;
}

.product-pricing {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
}

/* UTILITIES */
:root {
  --cream: #f2eae2;
  --aurometal-saurus: #6c7289;
  --deep-aquamarine-1: #3d8168;
  --deep-aquamarine-2: #1a4032;
  --gunmetal: #1c232b;
  --white: #ffffff;
  --card-width-desktop: 600px;
  --card-height-desktop: 450px;
  --card-width-mobile: 343px;
  --card-height-mobile: 611px;
}

.bg-primary {
  background-color: var(--cream);
}

.bg-secondary {
  background-color: var(--white);
}

.border-r-10px {
  border-radius: 10px;
}

.border-r-8px {
  border-radius: 8px;
}

/* BLOCK */
.product-image {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.product-description__category {
  color: var(--aurometal-saurus);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 5px;
}

.product-description__name {
  color: var(--gunmetal);
  font-family: 'Fraunces', serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.product-description__text {
  color: var(--aurometal-saurus);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
}

.product-pricing__final-price {
  color: var(--deep-aquamarine-1);
  font-family: 'Fraunces', serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.product-pricing__starting-price {
  color: var(--aurometal-saurus);
  font-family: 'Montserrat', sans-serif;
  text-decoration-line: line-through;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  margin-left: 19px;
}

.btn-add-to-cart {
  background-color: var(--deep-aquamarine-1);
  width: 100%;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-add-to-cart__icon {
  width: 14.385px;
  height: 16px;
}

.btn-add-to-cart__text {
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-left: 11.61px;
}

/* EXCEPTIONS */
.btn-add-to-cart:hover {
  background-color: var(--deep-aquamarine-2);
  cursor: pointer;
}

@media only screen and (width > 1024px) {
  .card {
    flex-direction: row;
    max-width: var(--card-width-desktop);
    height: var(--card-height-desktop);
    flex: 0 0 50%;
  }

  .card > * {
    flex: 0 0 300px;
  }

  .product-image {
    background-image: url('../images/image-product-desktop.jpg');
  }

  .store {
    padding: 32px;
  }

  .product-description__name {
    margin-top: 20px;
  }

  .product-description__text {
    margin-top: 24px;
  }

  .product-pricing {
    margin-top: 29px;
  }

  .btn-add-to-cart {
    margin-top: 30px;
  }
}

@media only screen and (width <= 1024px) {
  .card {
    flex-direction: column;
    justify-content: space-between;
    max-width: var(--card-width-mobile);
    height: var(--card-height-mobile);
  }

  .product-image {
    background-image: url('../images/image-product-mobile.jpg');
  }

  .store {
    height: 371px;
    padding: 24px;
  }

  .product-description__name {
    margin-top: 12px;
  }

  .product-description__text {
    margin-top: 16px;
  }

  .product-pricing {
    margin-top: 24px;
  }

  .btn-add-to-cart {
    margin-top: 20px;
  }
}
